.titles-componte {
    padding: 0;
    h4 {
        color: #03ea6d;
        font-weight: bold;
    }
    h2 {
        max-width: 700px;
        font-style: italic;
        font-weight: bold;
    }
    h4.end {
        color: #283950;
        font-weight: bold;
        width: 290px;
    }
}
