.titles {
    p:first-child {
        color: #03ea6d;
        font-size: 28px;
        font-weight: bold;
    }
    .quite {
        font-size: 44px;
        font-style: italic;
        font-weight: bold;
    }
    .end {
        font-size: 28px;
        font-weight: bold;
    }
}
