.simulator-panel {
    margin-top: 54px;
    h3 {
        color: #283950;
        font-size: 44px;
        font-weight: bold;
        font-style: italic;
    }
    p{
        margin-top: 20px;
        font-size: 28px;
        font-weight: bold;
        color: #283950;
    }
}
