.info-card {
    background-color: #ffffff;
    box-shadow: 10px 10px 40px #00000019;
    border: 1px solid #03ea6d;
    border-radius: 22px;
    .title {
        color: #283950;
        font-weight: bold;
        margin: 31px auto 0 30px;
    }
    .mini-title {
        color: #283950;
        margin: 0 auto 0 30px;
    }
    .middle {
        color: #283950;
        margin: 21px 28px 0 30px;
    }
    .second-middle {
        color: #283950;
        font-size: 1.125em;
        margin: 21px 28px 0 30px;
    }
    button {
        height: 56px;
        border-radius: 28px;
        font-size: 1.375em;
        line-height: 0.5em;
        background-color: #03ea6d;
        color: #283950;
        font-weight: bold;
        border: 0px;
        margin: 43px auto 32px 24px;
    }
}
