$color: #03ea6d;

.green-button {
  min-height: 46px;
  border-radius: 28px;
  line-height: 1em;
  background-color: $color;
  color: #283950;
  font-weight: bold;
  border: 0px;
  margin: 43px auto 32px 0px;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:active,
  &:focus-visible,
  &:focus {
    border: 0 none;
    background-color: darken($color, 10%);
  }
}
