.solutions {
  margin: 0 267px 0 364px;
  margin-top: 123px;
  p:first-child {
    color: #03ea6d;
    font-size: 28;
    font-weight: bold;
    width: 340px;
  }
  .meio {
    font-size: 44px;
    font-style: italic;
    font-size: 28;
    font-weight: bold;
    width: 340px;
  }
  p:last-child {
    font-size: 28;
    font-weight: bold;
    width: 340px;
  }
}
