.solution-section {
  margin-top: 40px;
  @media screen and (min-width: 992px) {
    margin-top: 100px;
  }
  .container {
    .titles-componte {
      h2 {
        width: 250px;
      }
    }
    img {
      margin-left: -670px;
      width: 1039px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .info-box {
      padding-top: 15px;
    }
    div {
      p {
        font-size: 0.8em;
        padding: 0 30px;

        font-family: "Montserrat";
      }
      .last-paragraph {
        margin: -20px 0 30px 0;
      }
    }
  }
}
