.simulator {
  margin-top: 114px;
  display: flex;

  .container {
    .row > *:first-child {
      .titles-componte {
        h2 {
          @media screen and (min-width: 992px) {
            max-width: 250px;
          }
        }
        .end {
          font-family: "Montserrat";
        }
      }
    }
  }
  .cardSimulator {
    max-width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 674px) {
      max-width: 80%;
    }
  }
  .sub-title {
    margin-top: 20px auto 0;
    text-align: center;
    font-family: "Montserrat";
    font-size: 0.8em;
    a {
      color: black;
    }
  }
  .second-row {
    margin-top: 140px;
    .btn-group {
      button {
        max-width: 255px;
        background-color: white;
        border: 1px solid #03ea6d;
        color: black;
        font-weight: bold;
        font-family: "Montserrat";
      }
      button:first-child {
        border-top-left-radius: 28px;
        border-bottom-left-radius: 28px;
      }
      button:last-child {
        border-bottom-right-radius: 28px;
        border-top-right-radius: 28px;
      }
      button:hover {
        background-color: #03ea6d;
      }
    }
    .col {
      margin-top: 110px;
      display: flex;
      align-items: center;
      margin: auto;
      flex-direction: column;
      justify-content: space-evenly;
      .green-button {
        width: 250px;
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
        justify-content: space-evenly;
      }
      .second-sub-title {
        text-align: center;
        font-family: "Montserrat";
        font-size: 0.8em;
        p:first-child {
          margin: 0;
          margin-top: 20px;
        }
      }
    }
  }
}
