.doSimulation {
  .loader-element {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    Footer {
      margin-top: -30px;
    }
  }
  .green-button {
    margin: 0;
  }
}
