.benefits {
  height: 398px;
  background-color: #03ea6d;
  box-shadow: 10px -20px 40px #00000034;
  border-radius: 22px;
  .container {
    h2 {
      color: #283950;
      font-size: 44px;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      padding: 39px 0 0;
    }
    .container-objects {
      display: flex;
      margin: 51px 0;
      .object {
        text-align: center;
        img {
          width: 136px;
        }
        .title {
          font-weight: bold;
          margin: 33px 0 0;
          font-size: 22px;
        }
        p {
          text-align: center;
          color: #000000;
          font-size: 1.25em;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    height: 1200px;
    .container-objects {
      display: block;
      flex-direction: column;
    }
  }
}
