.benefits {
  max-width: 1386px;
  margin: 0 auto;
  margin-top: -20px;
  position: relative;
  background-color: #03ea6d;
  box-shadow: 10px -20px 40px #00000034;
  border-radius: 22px;
  padding: 30px 0;
  .container {
    margin: 0 auto;
    h2 {
      color: #283950;
      font-size: 2.2em;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      padding: 39px 0 0;
      margin-bottom: 30px;
      margin-top: 0;
      padding-top: 0;
    }
    .benefits-content {
      display: grid;
      gap: 30px;
      grid-template-columns: auto auto;
      @media screen and (min-width: 687px) {
        grid-template-columns: auto auto auto;
      }
      @media screen and (min-width: 992px) {
        grid-template-columns: auto auto auto auto auto;
      }
    }
  }
}
