.benefits {
  min-height: 398px;
  max-width: 1386px;
  margin: 0 auto;
  margin-top: -10px;
  position: relative;
  background-color: #03ea6d;
  box-shadow: 10px -20px 40px #00000034;
  border-radius: 22px;
  .container {
    max-width: 1386px;
    margin: 0 auto;
    h2 {
      color: #283950;
      font-size: 44px;
      font-weight: bold;
      font-style: italic;
      text-align: center;
      padding: 39px 0 0;
    }
    .row {
      display: flex;
      margin: 51px 0;
      justify-content: space-around;
      .col {
        text-align: center;
        img {
          width: 136px;
        }
        .title {
          font-weight: bold;
          margin: 33px 0 0;
          font-size: 22px;
          margin: 0 auto;
        }
        p {
          text-align: center;
          color: #000000;
          font-size: 1.25em;
          max-width: 242px;
          margin: 0 auto;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    height: 1200px;
    max-width: 1386px;
    border-radius: 0px;
    .container-objects {
      display: block;
      flex-direction: column;
    }
  }
}
