.money-field {
    display: flex;
    margin-top: 62px;
    button {
        width: 69px;
        height: 69px;
        border: 1px solid #03ea6d;
        border-radius: 50%;
        background-color: white;
        color: black;
        font-size: 74px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    input {
        border: none;
        border-bottom: 1px #ccc solid;
        width: 240px;
        text-align: center;
        font-size: 38px;
        font-weight: bold;
    }
}
