.how-works {
  margin-top: -650px;
  .cellphone {
    display: none;
  }
  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }
  .container {
    background-color: #f8f8f8;
    border-radius: 22px;
    & > div {
      padding: 30px;
      @media screen and (min-width: 992px) {
        padding: 30px 0 60px 230px;
      }
      .titles-componte {
        h2 {
          max-width: 750px;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
        }
      }
      div:first-child {
        p:first-child {
          color: #03ea6d;
          font-size: 28px;
          font-weight: bold;
        }
      }
      .documents {
        margin-top: 69px;
        p:first-child {
          color: #00c487;
          font-size: 1.6em;
          font-weight: bold;
          font-family: "Montserrat";
        }
        .row {
          display: flex;
          max-width: 560px;
          justify-content: space-between;
          text-align: center;
        }
        .row > * {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          img {
            width: auto;
            height: auto;
            max-width: 177px;
            margin: 0 auto;
          }
          h5 {
            text-align: center;
            color: #283950;
            margin-top: 20px;
            font-family: "Montserrat", sans-serif;
          }
          @media screen and (min-width: 768px) {
            .row > * {
              text-align: center;
            }
          }
        }
        @media screen and (max-width: 768px) {
          .row {
            text-align: center;
          }
          h5 {
            text-align: center;
            width: 177px;
            margin: 0 auto;
          }
          img {
            width: 136px;
          }
        }
      }
      .firsInfo {
        margin-top: 35px;
        h4 {
          max-width: 560px;
          color: #283950;
          font-weight: bold;
          font-family: "Montserrat", sans-serif;
        }
      }
      .green-button {
        width: 230px;
      }
      .info {
        max-width: 710px;
        padding: 30px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 8px #0000001a;
        border: 2px dashed #ff4b4b;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 76px;
        h4 {
          max-width: 550px;
          width: 100%;
          text-align: center;
          font-weight: bold;
          font-family: "Montserrat";
          margin: 0 auto;
        }
        @media screen and (min-width: 767px) {
          border-radius: 100px;
        }
        @media screen and (max-width: 767px) {
          h4 {
            font-size: 1.2em;
          }
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .cellphone {
      display: block;
      img {
        width: 80%;
      }
    }
    .container {
      max-width: 100%;
      border-radius: 0;
    }
  }
}
