@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&display=swap");

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-family: "Amaranth", sans-serif;
  padding-top: 90px;

  @media screen and(min-width: 800px) {
    // font-size: 16px;
  }
  strong,
  b {
    color: #000000;
  }

  .black-text {
    color: #3b1c0c;
    strong,
    b {
      color: #3b1c0c;
    }
  }

  h1 {
    font-size: 3.7em;
  }
  h2 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.4m;
  }
  h5 {
    font-size: 1em;
  }
}
.btn {
  padding: 13px;
  font-size: 1.12em;
  border-radius: 0;
  &.btn-outline-dark {
    border: 1px solid #82a482;
    color: #52555d;
    &:hover {
      color: white;
    }
  }
  &.btn-outline-light {
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}

.text-right {
  text-align: right;
}
.wp-block {
  &-media-text {
    & > figure {
      img {
        max-width: 100%;
      }
    }
    @media screen and(min-width: 800px) {
      display: flex;
      & > figure {
        flex: 1;
      }
      &__content {
        flex: 1;
        padding-left: 40px;
      }
    }
  }
  &-columns {
    @media screen and(min-width: 800px) {
      display: flex;
      & > .wp-block-column {
        flex: 1;
      }
    }
  }
  &-quote {
    margin-bottom: 20px;
    max-width: 400px;
    padding-left: 80px;
    // background: transparent url("./assets/images/quot.png") no-repeat left top;
    cite {
      font-style: italic;
      font-size: 2em;
      font-weight: bold;
      line-height: 1em;
    }
  }
}

@media (max-width: 678px) {
  .container {
    padding: 0 20px !important;
  }
}
