.header {
  .container {
    img {
      width: 85px;
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 90px;
      a {
        color: #283950;
        text-decoration: none;
        font-weight: bold;
        margin-left: 50px;
        font-family: "Montserrat";
      }
      @media screen and (max-width: 766px) {
        flex-direction: column;
      }
      @media screen and (max-width: 990px) {
        a {
          font-size: 0.88em;
        }
      }
    }
  }
}
