.introduction {
  background-color: #283950;
  color: white;
  .container {
    position: relative;
    h1 {
      font-weight: bold;
      font-style: italic;
      display: flex;
      align-items: flex-start;
      max-width: 520px;
      img {
        width: 50px;
        margin-top: 20px;
      }
    }
    h3 {
      margin-top: 30px;
      font-weight: bold;
      font-style: italic;
      color: #03ea6d;
    }
    p {
      display: grid;
      font-family: "Montserrat";
      width: 100%;
      @media screen and (min-width: 768px) {
        max-width: 420px;
      }
      .green-button {
        margin: 40px 0 0;
        width: 100%;
        @media screen and (min-width: 768px) {
          margin: 40px 0;
          max-width: 370px;
        }
      }
    }
    .garota-propaganda {
      width: 100%;
      @media screen and (min-width: 768px) {
        max-width: 420px;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
