.BenefitsItem {
  text-align: center;
  img {
    width: auto;
    height: auto;
  }
  .title {
    margin-top: 30px;
    font-weight: bold;
    font-size: 0.8em;
  }
  p {
    text-align: center;
    color: #000000;
    font-size: 0.8em;
    max-width: 115px;
    margin: 0 auto;
  }
}
